* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  margin: 0;
  // background: linear-gradient( white,  rgb(15, 67, 104) );
}

a {
  text-decoration: none;
  color: black;
}

.negative {
  color: red;
}

.positive {
  color: rgb(0, 168, 0);
}

header {
  background: black;
  color: white;
  margin: 0;
  padding: 1.2rem;

  a {
    color: white;
  }

  p a {
    color: orange;
  }

  h1 {
    margin: 0;
    font-size: 3.5rem;

    &:hover {
      color: orange;
    }

    span {
      color: rgb(165, 38, 0);
    }

  }
}

.container {
  margin: 1.8rem auto;
  width: 90vw;

  > div:first-of-type {
    margin: 10px;
    display: flex;
    // justify-content: flex-start;
    align-items: center;
    width: 50%;

    span {
      text-align: right;
      margin: 1rem 1rem 1rem 0;
      font-size: 20px;
    }

    input {
      height: 2.5rem;
      border: 1px solid black;
      font-size: 20px;
    }
  }
}


// this is for the crypto detail page
.crypto-detail{
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  text-align: center;

  > div {
    width: calc(50% - 20px);
    border: 3px solid rgba(0, 0, 0, 0.2);
    margin: 10px;
    border-radius: 10px;
  }

  .crypto {
    width: calc(80% - 20px);
    margin: 10px auto;
    max-width: 310px;
  }
}

.crypto-chart .highcharts-container {
  display: flex;
  align-items: center;
}


// this is the main home page list
.crypto-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.crypto {
  margin: 10px;
  padding: 0;
  width: calc(25% - 20px);
  height: auto;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: white;
  background: linear-gradient( white, rgba(0, 0, 0, 0.9) );

  h2 {
    height: 54px;
  }

  div:last-of-type {
    margin: 1rem 0 0;
    background: rgba(255, 255, 255, 1);
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    p {
      font-size: 1rem;
      margin: 0
    }
    
    p:first-of-type {
      margin: 0.5rem;
      font-weight: bold;
      font-size: 2rem;
    }
  }
}

img {
  height: 100px;
  width: 100px;
}


@media only screen and (max-width: 950px){

  .container {
    width: 100%;
  }

  .crypto-container .crypto {
    width: calc(33% - 20px);
  }
}

@media only screen and (max-width: 600px){
  .crypto-container .crypto {
    width: calc(50% - 20px);
  }

  .crypto-detail{
    margin-top: 1.2rem;
  
    > div {
      width: 100%;
    }
  
    .crypto {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 450px){
  .crypto-container .crypto {
    width: 100%;
  }

  header h1 {
    font-size: 2rem;
  }
}

